.image-detail{
	.panel-body{
		text-align: center;
	}
	img,video{
		max-width:100%;
	}
}
	.inset{
		position: relative;
		width:100%;
		padding-right: 30px;
		display:block;
		height:50px;
		.views{
			text-align:right;
			color: #999;
			font: 15px Helvetica Neue,Arial,Helvetica,Geneva,sans-serif;
			position: absolute;
			right:20px;
			top:16px;
		}
		.share_buts{
			position: relative;
			display:block;
		}
		.btn-share {
			display: block;
			color: #fff;
			margin: 10px;
			float:left;
			font-weight: 700;
			height: 34px;
			background-color: #f4f4f4;
			line-height: 34px;
			padding: 0 15px 0 34px;
			border-radius: 3px;
			text-align: center;
			cursor:pointer;
			&.facebook {
				background: #3b5998 url(img/but_logos.png) 0 0 no-repeat;
				&:hover{
					background-color: #4c70ba;
				}
			}
			&.twitter {
				background: #00aced url(img/but_logos.png) 0 -34px no-repeat;
				&:hover{
					background-color: #21c2ff;
				}
			}
		}
	}